body {
    font-size: 11px !important;
}

h1 {
    text-transform: uppercase;
    font-size: 16px !important;
    margin-top: 0 !important;
    color: #1976D2 !important;
}

h1 small {
    font-size: 13px;
    color: #1E88E5 !important;
}

.panel table tr td {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
    background-color: transparent !important;
}

.panel table tr td:first-child {
    width: 180px;
}

.panel table.table {
    margin-bottom: 0 !important;
}

.panel {
    border-radius: 0;
    border: 0;
    background-color: #F2F2F2 !important;
    border-bottom: 1px solid #DEDEDE !important;
    box-shadow: 0;
}

.panel.header {
    min-height: 190px;

}
.panel .panel-heading {
    border-radius: 0;
    background-color: #79AEC8 !important;
    text-transform: uppercase;
    font-weight: normal;
    border: 0;
    color: #ffffff !important;
}

.panel .panel-body {
    border-top: 1px solid #DEDEDE !important;
}

table.positions {
    border: 0;
    /*margin-top: 60px;*/
}

table#positions {
    margin-top: -80px;
}

div.table-stripe {
    margin-top: 50px;
    height: 80px;
    background-color: #F2F2F2 !important;
}
table.positions tr th {
    text-transform: uppercase;
    border: 0 !important;
    color: #333333 !important;
    font-weight: bold;
    background-color: #F2F2F2 !important;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 11px !important;
}

table.positions tr td {
    border: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #666666;
}

table.positions tr.odd td {
    /*background-color: #F2F2F2 !important;*/
    /*border-top: 1px solid #DEDEDE !important;*/
}

table.positions tr.even td {
    background-color: #FFF !important;
    border-top: 1px solid #DEDEDE !important;
    border-bottom: 1px solid #DEDEDE !important;
}

table tr.total td {
    font-weight: bold;
}

table tr.total td h3 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
}

table.color-table tr td {
    border: 0 !important;
}
table.color-table thead th {
    color: #FFF !important;
    background-color: #0D47A1 !important;
    text-transform: uppercase;
    border-bottom: 0 !important;
}

table.color-table tbody td {
    background-color: #0D47A1 !important;
    color: #FFF !important;
}

.col-price-value {
    width: 130px !important;
}

.col-price {
    width: 100px !important;
}

.col-count {
    width: 50px !important;
}

.col-tax {
    width: 50px !important;
}

/* Remove paddings from body */
body.container {
    padding: 0 !important;
}

td.td-label {
    padding-right: 15px;
}

.color-box {
    background-color: #1976D2 !important;
    color: #fff !important;
}

.color-box2 {
    background-color: #0D47A1 !important;
    color: #fff !important;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.container-vertical {
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-muted {
    color: #666666 !important;
}

.container {
    width: auto !important;
}

.customer {
    padding-top: 52px;
    color: #666666 !important;
}

.issuer {
    height: 155px;
    margin-right: -1px;
}

.issuer-credentials {
    color: #fff !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

table.table {
    border: 0;
}

#total {
    margin-top: 65px;
}

tr.total td h3,
.text-white {
    color: #ffffff !important;
}

#user-data {
    margin-top: 45px;
}

#total hr {
    border-color: #1565C0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 0 !important;
    border-top-width: 1px !important;
    border-right: 0 !important;
    border-left: 0 !important;
}

#total table {
    margin-bottom: 0;
}

#say {
    margin-top: 15px;
    color: #0D47A1 !important;
}

.outmargin {
    margin-right: -20px !important;
}

#main {
    height: 350px;
}

#payment-info {
    margin-top: 150px !important;
}

#payment-info tr td {
    color: #ffffff !important;
    font-size: 10px !important;
}

#payment-info tr td b {
    color: #ffffff !important;
}

img#logo {
    width: 230px;
}
