<!DOCTYPE html>
{% load fs_static %}
{% load i18n %}
{% load polish_amount %}
<html>
<head>
    <meta charset="utf-8">
    {% include 'invoices/fonts_header.html' %}

    <meta name="pdfkit-page-size" content="A4" />
    <meta name="pdfkit-dpi" content="96" />
    <meta name="pdfkit-margin-top" content="25mm" />
    <meta name="pdfkit-margin-left" content="25mm" />
    <meta name="pdfkit-margin-right" content="25mm" />
    <meta name="pdfkit-margin-bottom" content="25mm" />
    <meta name="pdfkit-margin-bottom" content="25mm" />


    <link rel="stylesheet" href="{% fs_static 'bootstrap/css/bootstrap.css' demo %}">
    <link rel="stylesheet" href="{% fs_static 'invoices/invoice.css' demo %}">
    {% if demo %}
        <link rel="stylesheet" href="{% fs_static 'invoices/invoice_demo.css' demo %}">
    {% endif %}
</head>

<body>

<div class="row container container-vertical">
    <div class="col-xs-8">
        <table>
            <tr>
                <td class="td-label text-muted">{% trans 'Issue place' %} <span class="text-muted"> / Issue place</span></td>
                <td class="text-muted">{{ invoice.issued_by.address_city }}</td>
            </tr>
            <tr>
                <td class="td-label text-muted">{% trans 'Issue date' %} <span class="text-muted">/ Issue date</span></td>
                <td class="text-muted">{{ invoice.date_issued }}</td>
            </tr>
            <tr>
                <td class="td-label text-muted">{% trans 'Delivery date' %} <span class="text-muted">/ Delivery date</span></td>
                <td class="text-muted">{{ invoice.date_delivered }}</td>
            </tr>
            <tr>
                <td class="td-label text-muted">{% trans 'Payment date' %} <span class="text-muted">/ Payment date</span></td>
                <td class="text-muted">{{ invoice.date_payment }}</td>
            </tr>
        </table>
    </div>

    <div class="col-xs-4">
        <img id="logo" src="{% fs_static 'invoices/logo.svg' demo %}" class="pull-right">
    </div>
</div>

<div class="row" id="user-data">
    <div class="col-xs-8">
        <div class="container">
            <h1>{% trans 'VAT Invoice' %} <small>{% trans 'no' %} {{ invoice.invoice_number }}</small></h1>

            <div class="customer">
                <table>
                    <tr>
                        <td class="td-label text-muted text-uppercase">
                            <b>{% trans 'Customer' %}</b>
                            <span class="text-muted"> / Customer</span>
                        </td>
                        <td class="text-muted">
                            {% if invoice.issued_for.is_company %}
                                {{ invoice.issued_for.company_name }}
                            {% else %}
                                {{ invoice.issued_for.person_first_name }} {{ invoice.issued_for.person_last_name }}
                            {% endif %}
                        </td>
                    </tr>
                    {% if invoice.issued_for.is_company %}
                        <tr>
                            <td class="td-label text-muted text-uppercase"><b>NIP</b></td>
                            <td class="text-muted">{{ invoice.issued_for.company_nip }}</td>
                        </tr>
                        <tr>
                            <td class="td-label text-muted text-uppercase"><b>REGON</b></td>
                            <td class="text-muted">{{ invoice.issued_for.company_regon }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="td-label text-muted text-uppercase">
                          <b>{% trans 'Address' %}</b>
                          <span class="text-muted">/ Address</span>
                        </td>
                        <td class="text-muted">
                            {{ invoice.issued_for.address_street }},
                            {{ invoice.issued_for.address_postcode }} {{ invoice.issued_for.address_city }}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label text-muted text-uppercase">
                          <b>{% trans 'Country' %}</b>
                          <span class="text-muted">/ Country</span>
                        </td>
                        <td class="text-muted">
                            {{ invoice.issued_for.address_country_verbose }} ({{ invoice.issued_for.address_country }})
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="container color-box text-right container-vertical issuer">
            <div class="issuer-credentials">
                {{ invoice.issued_by.company_name }}<br>
                NIP: {{ invoice.issued_by.company_nip }}<br>
                REGON: {{ invoice.issued_by.company_regon }}<br>
                {{ invoice.issued_by.address_street }},
                {{ invoice.issued_by.address_postcode }} {{ invoice.issued_by.address_city }}<br>
                {{ invoice.issued_by.address_country_verbose }}
            </div>
        </div>
    </div>
</div>
<br>

<br>
<div id="main">
    <div class="table-stripe"></div>
    <div class="container">
        <table class="table table-bordered positions" id="positions">
            <thead>
            <tr>
                <th>
                  {% trans 'Service/asset name' %}<br>
                  <small class="text-muted">Service/asset name</small>
                </th>
                <th class="col-count">
                  {% trans 'Count' %}<br>
                  <small class="text-muted">Count</small>
                </th>
                <th class="col-price">
                  {% trans 'Price net' %}<br>
                  <small class="text-muted">Price net</small>
                </th>
                <th class="col-price-value">
                  {% trans 'Net value' %}<br>
                  <small class="text-muted">Net value</small>
                </th>
                <th class="col-tax text-right">
                  {% trans 'Tax' %}<br>
                  <small class="text-muted">Tax</small>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for position in invoice.invoiceposition_set.all %}
                <tr class="{% cycle 'odd' 'even' %}">
                    {#                        <td><span class="text-muted">{{ forloop.counter }}</span></td>#}
                    <td><span class="text-muted">{{ position.description }}</span></td>
                    <td><span class="text-muted">{{ position.count }}</span></td>
                    <td><span class="text-muted">{{ position.money_net }}</span></td>
                    <td><span class="text-muted">{{ position.total_net }}</span></td>
                    <td class="text-right"><span class="text-muted">{{ position.tax.display }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row container">
  {% if invoice.comments %}
    <div class="col-xs-12">
      <p class="text-uppercase">{% trans 'Uwagi' %} <span class="text-muted">/ Comments</span></p>
      <p class="text-muted">{{ invoice.comments }}</p>
    </div>
  {% endif %}
</div>

<div id="total" class="row container color-box">
    <div class="col-xs-6">
        <table id="payment-info">
            <tr>
                <td class="td-label">
                    <b>{% trans 'Payment method' %}</b><br>
                    <small class="text-muted">Payment method</small>
                </td>
                <td>{{ invoice.payment_method_verbose }}</td>
            </tr>
            {% if invoice.bank_account %}
              {% if invoice.bank_account.bank_account_number %}
                <tr>
                    <td class="td-label">
                        <b>{% trans 'Bank Account Number' %}</b><br>
                        <small class="text-muted">Bank Account Number</small>
                    </td>
                    <td>{{ invoice.bank_account.bank_account_number }}</td>
                </tr>
              {% endif %}
              {% if invoice.bank_account.iban %}
                <tr>
                    <td class="td-label">
                        <b>{% trans 'IBAN' %}</b>
                    </td>
                    <td>{{ invoice.bank_account.iban }}</td>
                </tr>
              {% endif %}
              {% if invoice.bank_account.swift %}
                <tr>
                    <td class="td-label">
                        <b>{% trans 'SWIFT Code' %}</b><br>
                        <small class="text-muted">Swift Code</small>
                    </td>
                    <td>{{ invoice.bank_account.swift }}</td>
                </tr>
              {% endif %}
              {% if invoice.bank_account.bank_name %}
                <tr>
                    <td class="td-label">
                        <b>{% trans 'Bank Name' %}</b><br>
                        <small class="text-muted">Bank Name</small>
                    </td>
                    <td>{{ invoice.bank_account.bank_name }}</td>
                </tr>
              {% endif %}
              {% if invoice.bank_account.bank_branch %}
                <tr>
                    <td class="td-label">
                        <b>{% trans 'Bank Branch' %}</b><br>
                        <small class="text-muted">Brank Branch</small>
                    </td>
                    <td>{{ invoice.bank_account.bank_branch }}</td>
                </tr>
              {% endif %}
            {% endif %}
        </table>
    </div>
    <div class="col-xs-6">
        <div class="color-box2 container-vertical container">
            <table class="table color-table">
                <thead>
                <tr>
                    <th>
                      {% trans 'Rate' %}<br>
                      <small class="text-muted">Rate</small>
                    </th>
                    <th>
                      {% trans 'Net' %}<br>
                      <small class="text-muted">Net</small>
                    </th>
                    <th>
                      {% trans 'VAT' %}<br>
                      <small class="text-muted">VAT</small>
                    </th>
                    <th class="text-right">
                      {% trans 'Gross' %}<br>
                      <small class="text-muted">Gross</small>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in taxes.items %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>{{ key }}</td>
                        <td>{{ value.total_net }}</td>
                        <td>{{ value.vat }}</td>
                        <td class="text-right">{{ value.total_gross }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <hr>
            <table class="table color-table">
                <tr class="total">
                    <td class="text-uppercase">
                        <b class="text-white">
                          {% trans 'Total gross' %}<br>
                          <small class="text-muted">Total gross</small>
                        </b>
                    </td>
                    <td class="text-right">
                        <h3>{{ invoice.money_gross }} {{ invoice.currency.code }}</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% trans 'Say' %}: {% polish_amount invoice.money_gross invoice.currency.say_unit_fulls invoice.currency.say_unit_halves %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
